body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
p {
    font-size: 1.2em;
    color: #333;
}
.button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}
.bgc_red {
    background-color: #FF5722;
}
.bgc_green {
    background-color: #4CAF50;
}
.c_red {
    color: #FF5722;
}
.c_green {
    color: #4CAF50;
}